In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('roster-10-12.csv')
df.head()

,Sec ID,PID,Student,Pronoun,Credits,College,Major,Level,Email
0,300331,A17368529,"A, Kunisha",NaN,4.0,SN,CG35,SO,ka@ucsd.edu
1,218538,A17915924,"Adames-Baena, Jeronimo",NaN,4.0,WA,DS25,SO,jadamesbaena@ucsd.edu
2,218445,A16997098,"Agarwal, Aadit",NaN,4.0,SI,MA30,JR,aaa004@ucsd.edu
3,218538,A17728974,"Agarwal, Dhruv Agarwal",He/Him,4.0,EI,CS26,FR,d6agarwal@ucsd.edu
4,218538,A18116867,"Agastyaraju, Kaushik",NaN,4.0,SN,DS25,SO,kagastyaraju@ucsd.edu

In [4]:
df['is DSC'] = df['Major'] == 'DS25'

In [5]:
df.groupby('Sec ID')['is DSC'].mean()

Sec ID
218445    0.593333
218538    0.626667
218593    0.646667
300331    0.733333
Name: is DSC, dtype: float64

In [3]:
colleges = df.groupby('College').size().to_frame()
colleges

           0
College
EI        32
FI        54
GR         1
MU        54
RE        47
SI       100
SN        98
TH        61
WA        78

In [ ]:
colleges.index = ['Eighth', 'ERC', 'Graduate', 'Muir', 'Revelle', 'Sixth', 'Seventh', 'Marshall', 'Warren']

In [ ]:
colleges.columns = ['Count']

In [ ]:
colleges[colleges.index != 'Graduate'].to_csv('colleges-fa23.csv')