# Homework 3: DataFrames, Control Flow, and Probability

## Due Tuesday, July 15th at 11:59PM

Welcome to Homework 3! This homework will cover lots of different topics:
- Grouping with subgroups (see [BPD 11](https://notes.dsc10.com/02-data_sets/groupby.html#subgroups))
- Merging DataFrames (see [BPD 13](https://notes.dsc10.com/02-data_sets/merging.html))
- Conditional statements (see [CIT 9.1](https://inferentialthinking.com/chapters/09/1/Conditional_Statements.html))
- Iteration (see [CIT 9.2](https://inferentialthinking.com/chapters/09/2/Iteration.html))
- Probability (see [CIT 9.5](https://inferentialthinking.com/chapters/09/5/Finding_Probabilities.html))

### Instructions

Remember to start early and submit often.

**Important**: For homeworks, the `otter` tests don't usually tell you that your answer is correct. More often, they help catch careless mistakes. It's up to you to ensure that your answer is correct. If you're not sure, ask someone (not for the answer, but for some guidance about your approach). These are great questions for office hours (the schedule can be found [here](https://dsc10.com/calendar)) or Campuswire. Directly sharing answers is not okay, but discussing problems with the course staff or with other students is encouraged.

In [ ]:
# Please don't change this cell, but do make sure to run it.
import babypandas as bpd
import matplotlib.pyplot as plt
plt.style.use('ggplot')
plt.rcParams['figure.figsize'] = (10, 5)

import numpy as np
import otter
grader = otter.Notebook()

# We need to import some extra packages for some fun demonstrations.
import json
from ipywidgets import interact, widgets
from IPython.display import YouTubeVideo, HTML, display, clear_output, Image, IFrame

# Don't worry about this.
def read_json(path):
    f = open(path, 'r')
    return json.load(f)

### Supplemental Video on DataHub and Jupyter Notebooks

In Lab 0, we linked you to a video that walks you through key ideas you should be aware of when working on DataHub and in Jupyter Notebooks, including
- how files are organized on DataHub
- what it means to "restart the kernel"
- how to use keyboard shortcuts (most important: use `SHIFT + ENTER` to run a cell!)

Now that you have some experience with Jupyter Notebooks, we're linking this video again for your convenience. If you feel a little shaky on how to work your way around a notebook or troubleshoot issues, we recommend you give it another watch. (When troubleshooting, make sure to always check the [Debugging](https://dsc10.com/debugging/) tab on the course website as well.)

The video is quite long, but if you open the video directly on YouTube (which you can do by clicking the video's title after it loads in the next cell) you'll see timestamps in the description which you can use to jump to different parts of the video depending on what you'd like to learn more about.

In [ ]:
# Run this cell.
YouTubeVideo('Hq8VaNirDRQ')

## 0. Mid-Quarter Survey

We'd like to hear from you on how DSC 10 has been going so far this quarter. To do so, we've put together a survey that asks you to provide feedback on all aspects of the course. You can provide as much or as little detail as you'd like. We value your input and will use the results of the survey to improve the course!

This survey is entirely anonymous, though you are free to leave your name and email if you want. The responses to the survey will be visible to both course staff and the Data Science Student Representatives. There will also be a question at the end of the survey that will allow you to provide feedback on the DSC program as a whole.

<center><h3>Click <a href="https://forms.gle/finEFTgmx46S7MU36">here</a> to access the survey.</h3></center>

After completing the survey, enter the keyword provided at the end of the survey to get credit towards this homework assignment.

In [ ]:
survey_keyword = ...

In [ ]:
grader.check("q0")

## 1. 100 Years of "C" Baby Names üë∂üèª

What letter does your first name start with? In this problem, we'll look at baby names starting with the letter "C". The file `data/baby_names.csv` contains information from the [Social Security Administration](https://www.ssa.gov/oact/babynames/limits.html) about "C" baby names in the US from 1924 to 2023 ‚Äî that's one hundred years of data! Run the cell below to read in the data.

In [ ]:
baby = bpd.read_csv('data/baby_names.csv')
baby

The DataFrame `baby` has a row for each `'State'` (50 US states plus Washington DC), `'Gender'` (`'M'` or `'F'`, as assigned at birth), `'Year'` (between 1924 and 2023), and `'Name'`. The `'Count'` column records the number of babies of that gender who were given that name in one state in one year.

Below, we look at only the rows corresponding to the name Charles.

In [ ]:
baby[baby.get('Name') == 'Charles']

The first row of the DataFrame shows that there were 6 female babies named Charles born in Alabama in 1924. There are many other rows corresponding to the name Charles, which come from other years, other states, and other genders. 

As you can see, Charles is typically a name given to male babies, but there are some female Charles as well. Run the cell below to find out when and where many female Charles were born.

In [ ]:
female_charles = baby[(baby.get('Name') == 'Charles') & (baby.get('Gender') == 'F')]
female_charles.sort_values(by='Count', ascending=False)

**Question 1.1.** There are many more male Charles than female Charles, so let's look at the popularity of the name Charles in male babies over time. Create a line plot that shows how the number of male babies named Charles has changed over time in the US. Then use your plot to answer the question that follows.

In [ ]:
# Create your line plot here.

Around what year was the peak in popularity for the name Charles in male babies? Choose the closest answer from the options below and set `male_charles_peak` to 1, 2, 3, or 4 corresponding to your answer choice.
1. 1930
2. 1950
3. 1970
4. 1990

In [ ]:
male_charles_peak = ...

In [ ]:
grader.check("q1_1")

**Question 1.2.** In the `baby` DataFrame, how many babies of each gender were born in each state? Create a DataFrame named `num_babies` with one row for each gender in each state and columns `'State'`, `'Gender'`, and `'Count'`, which contains the total number of babies of each gender in each state with a "C" name. The first few rows of `num_babies` are shown below.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>State</th>
      <th>Gender</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>AK</td>
      <td>F</td>
      <td>13677</td>
    </tr>
    <tr>
      <th>1</th>
      <td>AK</td>
      <td>M</td>
      <td>20197</td>
    </tr>
    <tr>
      <th>2</th>
      <td>AL</td>
      <td>F</td>
      <td>154066</td>
    </tr>
    <tr>
      <th>3</th>
      <td>AL</td>
      <td>M</td>
      <td>234181</td>
    </tr>
  </tbody>
</table>

***Hints:***
- You can do this in one line of code.
- Don't forget to use `.reset_index()`.

In [ ]:
num_babies = ...
num_babies

In [ ]:
grader.check("q1_2")

A gendered name is a combination of a name and a gender, such as female Charles. Let's explore the average age of people with each gendered name. For example, let's calculate the average age of all female Charles.

In [ ]:
female_charles

We'll define the age of a person as 2025 (the current year) minus the year in which the person was born. This doesn't take into account people's birthdays, because we don't have that information. For example, if a female Charles was born in 1985, they will be counted as 2025 - 1985 = 40 years old. Therefore the **total age** of all the female Charles is given below.

In [ ]:
total_age = ((2025 - female_charles.get('Year')) * female_charles.get('Count')).sum()
total_age

To find the average age, we need to know how many female Charles there are. The **total count** of female Charles is given below.

In [ ]:
total_count = female_charles.get('Count').sum()
total_count

Therefore the **average age** of female Charles is given below.

In [ ]:
average_age = total_age / total_count
average_age

Notice that we _cannot_ calculate the average age of female Charles as follows.

In [ ]:
age = 2025 - female_charles.get('Year')
age.mean()

This is incorrect because it does not take into account the fact that there were more female Charles born some years than others.

**Question 1.3.** Create a DataFrame named `avg_age` that has one row for each gendered name and columns `'Gender'`, `'Name'`, and `'Average_Age'`, which contains the average age of all people with each gendered name. The first few rows of `avg_age` are shown below.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Gender</th>
      <th>Name</th>
      <th>Average_Age</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>F</td>
      <td>Cache</td>
      <td>27.813333</td>
    </tr>
    <tr>
      <th>1</th>
      <td>M</td>
      <td>Cache</td>
      <td>13.949275</td>
    </tr>
    <tr>
      <th>2</th>
      <td>F</td>
      <td>Cade</td>
      <td>21.000000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>M</td>
      <td>Cade</td>
      <td>17.297998</td>
    </tr>
  </tbody>
</table>

***Hints:***
- Before attempting this question, make sure you understand the strategy shown above for finding the average age of female Charles. You will need to generalize this approach.
- This is a multi-step problem. Add cells and display your intermediate results so you can see your progress as you go.
- You should check that the average age for female Charles in your DataFrame `avg_age` is the same as we found above.

In [ ]:
avg_age = ...
avg_age

In [ ]:
grader.check("q1_3")

## 2. Holding Space üë∏üèºüíóüíöüßôüèª‚Äç‚ôÄÔ∏è

*Wicked (2024)* is a film adaptation of a stage musical of the [same name](https://en.wikipedia.org/wiki/Wicked_(musical)), which are both based on the *Oz* books. Set up against a backdrop of political intrigue and conflict in the Land of Oz, the movie follows the story of Elphaba Thropp, a character who is ostracized due to her green skin and who becomes the Wicked Witch of the West. The movie tells the story of Elphaba's unexpected friendship with Galinda Upland, a ditzy yet caring character who ultimately becomes Glinda the Good.
<br>
<br>
<center><img src=images/wicked_poster.jpg width=250><br>(<a href="http://www.impawards.com/2024/wicked_ver2_xlg.html">source</a>)</center>

The film broke numerous records, most notably becoming the [highest-grossing film adaptation of a Broadway musical](https://www.billboard.com/lists/broadway-musical-films-biggest-box-office-wicked/). Therefore, it seems fitting to analyze the film's music because after all, it is a **musical**. üé∂

In the `singers` DataFrame below, each row contains information about a song and an artist who performed in that song. There can be multiple rows with the same `'Song Title'` since a song can include more than one singer, and there can be multiple rows with the same `'Artist'` because an artist can sing more than one song on the soundtrack. <br>

In [ ]:
singers = bpd.read_csv('data/wicked_soundtrack.csv')
singers

The `'Artist'` column includes the real names of the artists who performed each song, but most moviegoers will know the names of the characters better than the names of the actors who portrayed them.

Run the cell below to load in a dataset which contains information about many of the characters and respective actors. We'll read these into a DataFrame called `actors`.

In [ ]:
actors = bpd.read_csv('data/wicked_characters.csv')
actors

**Question 2.1.** Using the `merge` method, combine the `actors` and `singers` DataFrames, and assign the resulting DataFrame to the variable `actors_and_singers`. 
- `actors_and_singers` should contain all of the columns in both `actors` and `singers`, except the `'Artist'` column from `singers`, which is redundant with the `'Actor'` column from `actors`.
- Sort `actors_and_singers` by `'Character'` in ascending order.


<!--
BEGIN QUESTION
name: q2_1
-->

In [ ]:
actors_and_singers= ...
actors_and_singers

In [ ]:
grader.check("q2_1")

**Question 2.2.** If you completed Question 2.1. correctly, you'll notice that `actors_and_singers` has fewer rows than `singers` but more rows than `actors`. This is because there are some artists in `singers` that are not a part of the main cast, and some people in `actors` that sing multiple songs. 

Below, assign `actors_not_singers` to the number of actors that are in `actors` but not in `singers`. Similarly, assign `singers_not_actors` to the number of singers that are in `singers` but not in `actors`.

_Hint_: There are two ways to find the number of unique values in a column.

1. Group by that column. On the resulting DataFrame, use `.shape[0]`.

2. Use the `.unique()` method on the Series corresponding to that column. Use `len` on the resulting array.

You'll need to do this three times ‚Äì once each for the columns that contain the people's names in `actors`, `singers`, and `actors_and_singers`.

In [ ]:
actors_not_singers = ...
singers_not_actors = ...
print('There are', actors_not_singers, 'actors in the main cast that are not singers.')
print('There are', singers_not_actors, 'singers on the soundtrack that are not in the main cast.')

In [ ]:
grader.check("q2_2")

Now that we better understand how `actors_and_singers` came to be, let's use it to answer some *Wicked* trivia questions. <br> <br>

<center><img src=images/wicked_west_end.jpg width=250><br>A poster for the musical in the West End (<a href="https://collections.vam.ac.uk/item/O155331/wicked-poster-dewynters-ltd/">source</a>)</center>

**Question 2.3.** *Wicked* is told from the perspective of the two main characters, Elphaba and Galinda. Elphaba is arguably the more important character, as the word "wicked" is attributed to her, and she is the face of the musical. However, which character is more <a href="https://www.youtube.com/watch?v=5VjTswqyHdA" style="color:pink;">popular</a> in the movie?

According to the `actors_and_singers` DataFrame, who appears in more songs, `'Elphaba Thropp'` or `'Galinda Upland'`? Set `most_popular_character` to 1, 2, or 3 corresponding to the answer choices below. 

1. Elphaba 
1. Galinda  
1. They are tied.

<!--
BEGIN QUESTION
name: q2_3
-->

In [ ]:
most_popular_character = ...

In [ ]:
grader.check("q2_3")

**Question 2.4.** How many songs include *both* Elphaba and Galinda? 

Using the `actors_and_singers` DataFrame, set the variable `num_shared_songs` to the number of songs that include both main characters.

In [ ]:
num_shared_songs = ...
num_shared_songs

In [ ]:
grader.check("q2_4")

## 3. Emojify üòé

When texting, you might like using emojis. The default keyboard on iOS suggests emojis for you to use in place of boring, ordinary words.

<img src = "https://support.apple.com/library/content/dam/edam/applecare/images/en_US/iOS/ios12-iphone-x-messages-replace-words-with-emoji.jpg" width=200>


In Python, emojis can be included as part of a string. For example:

In [ ]:
'So funny ü§£'

If you remove the quotes from the emoji above, you will see `SyntaxError: invalid character in identifier`. Make sure that throughout this question, your emojis are contained within strings! (Fun fact, they cannot currently be used as variable names. Try it and see what error you get!)

The website [getemoji.com](https://getemoji.com) allows you to copy and paste emojis. To select an emoji, double click it to highlight it. Try copying and pasting an emoji of your choice from that site into the code cell below. Don't forget to enclose it in quotes!

In [ ]:
# Copy and paste any emoji into this code cell.

In this problem, you will create a [dictionary](https://www.tutorialspoint.com/python/python_dictionary.htm) of emojis. Dictionaries provide a convenient way to store data in key-value pairs. 

Here's an example dictionary that describes the lower division Data Science courses.

In [ ]:
dsc_courses = {
    'DSC 10': 'Principles of Data Science',
    'DSC 20': 'Programming and Basic Data Structures for Data Science',
    'DSC 30': 'Data Structures and Algorithms for Data Science',
    'DSC 40A': 'Theoretical Foundations of Data Science I',
    'DSC 40B': 'Theoretical Foundations of Data Science II',
    'DSC 80': 'The Practice and Application of Data Science'
}

Each course (e.g. `'DSC 10'`) is called a *key*. Every key has an associated *value*, which is the full name of the course. We can access the value corresponding to each key using bracket notation. We put the key in brackets after the name of the dictionary. Think of this as looking up the full name of a course, just as you might look up the definition of a word in a physical dictionary.

In [ ]:
dsc30_name = dsc_courses['DSC 30']
dsc30_name

Here, `'DSC 30'` is the key and `'Data Structures and Algorithms for Data Science'` is the value.

Note that we can easily extract all keys or all values from a dictionary as follows.

In [ ]:
dsc_courses.keys()

In [ ]:
dsc_courses.values()

We can then iterate through all of the keys (or values) of a dictionary if needed. For example:

In [ ]:
for course in dsc_courses.keys():
    print('I love', course)

**Question 3.1** In the cell below, define a dictionary `fav_emojis` that has the following five keys:
- `'happy'`
- `'yes'`
- `'amazing'`
- `'love'`
- `'food'`

The values corresponding to each of these five keys must be emojis, but they can be any emoji you want, **as long as**:
- They are copied from the site [getemoji.com](https://getemoji.com).
- They are not in the "New Emojis" category at the bottom.

Have fun with it! We've chosen an emoji for `'happy'` as an example for you, but feel free to change it.

Some troubleshooting tips:
- After defining your dictionary, you may see some emoijs displayed with `'\U001...'` instead of their actual graphic. **If this happens, pick different emojis**.
- If you fail the test case that says your emojis are invalid, and you're certain you correctly defined your dictionary, you may consider choosing other emojis that are more generic that are more likely to be recognized by our autograder. This most likely won't be a problem.

In [ ]:
fav_emojis = {
    'happy': 'üòä',
    ...
}

fav_emojis

In [ ]:
grader.check("q3_1")

**Question 3.2.** Now, complete the implementation of the function `emojify`, which takes in a string `message` and returns a new string with all instances of any of the keys in `fav_emojis` replaced with their corresponding emoji value. Example behavior is shown below, though the emojis shown will be different, depending on what you put in `fav_emojis`. Note that the behavior is case insensitive - any capitalization of a word will get replaced by the corresponding emoji.

```py
>>> emojify('Yes, agreed.')
'‚úÖ, agreed.'

>>> emojify('wanna order some food? - I LOVE this place, the food here is AMAZING!!!')
'wanna order some ü•ê? - i üíï this place, the ü•ê here is ü§©!!!'

>>> emojify('While I do love you, food makes me more happy. Yes, I am serious.')
'while i do üíï you, ü•ê makes me more üòä. ‚úÖ, i am serious.'

>>> emojify("i had an amazing time last weekend... my puppy was so happy to go to the park")
'i had an ü§© time last weekend... my puppy was so üòä to go to the park'

>>> emojify('where_is_the_word???wow_here:amazing!')
'where_is_the_word???wow_here:ü§©!'
```

**_Hint 1:_** You will need to use a `for`-loop. Refer to the example dictionary from the start of the problem (where we printed `'I love DSC 10'`) for some clues on how to proceed.

**_Hint 2:_** Use the `.replace` string method. [See here](https://dsc-courses.github.io/bpd-reference/docs/documentation/string-methods/str.replace()/).

In [ ]:
def emojify(message):
    # This line ensures your code works correctly regardless of 
    # whether the message is in upper case or lower case.
    message = message.lower()

    ...
    
    # Don't change this
    return message

In [ ]:
grader.check("q3_2")

### Fun Demo

Run the cell below to produce a text box (don't worry about the code itself). Type text in the text box and watch it get emojified live!

In [ ]:
def emojify_live(type_here):
    display(HTML('<h2>' + emojify(type_here) + '</h2>'))
interact(emojify_live, type_here="I LOVE food");

## 4. Alternating Products

In this problem, we'll define two functions that compute some sort of "alternating product" of a sequence of values.

**Question 4.1.** Complete the implementation of the function `alternating_product`, which takes in an array of numbers, `values`, and returns the product of every other element in `values`, starting with the first element (at position `0`). Example behavior is shown below.

```py
>>> alternating_product(np.array([2, 3.5, 1, 1.5]))
2.0 # comes from 2 * 1

>>> alternating_product(np.array([2, 3.5, 1, 1.5, 4.5]))
9.0 # comes from 2 * 1 * 4.5
```
<!--
BEGIN QUESTION
name: q4_1
-->

In [ ]:
def alternating_product(values):
    ...
    
# Feel free to change this input to make sure your function works correctly.
alternating_product(np.array([2, 3.5, 1, 1.5]))

In [ ]:
grader.check("q4_1")

**Question 4.2.** In math, the word "alternating" is also used to describe sequences of numbers where the signs oscillate back and forth between positive and negative. Complete the implementation of the function `alternating_sign_product`, which takes in an array of positive numbers, `values`, and returns the product of every element in `values`, with alternating signs, starting with a positive sign for element `0`, a negative sign for element `1`, and so on. Example behavior is shown below.

```py
>>> alternating_sign_product(np.array([2, 3.5, 1]))
-7.0 # comes from 2 * (-3.5) * 1

>>> alternating_sign_product(np.array([2, 3.5, 1, 1.5]))
10.5 # comes from 2 * (-3.5) * 1 * (-1.5)
```

***Hint:*** If `x` is an integer, `x % 2` evaluates to 0 when `x` is even and to 1 when `x` is odd. If `x` represents the position of an element in the array, you can use this to help you figure out whether the sign should be positive or negative.

<!--
BEGIN QUESTION
name: q4_2
-->

In [ ]:
def alternating_sign_product(values):
    ...
    
# Feel free to change this input to make sure your function works correctly.
alternating_sign_product(np.array([2, 3.5, 1]))

In [ ]:
grader.check("q4_2")

## 5. Lucky Triton Lotto üî± üé± 

Suppose UCSD holds an annual lottery called the Lucky Triton Lotto, where students can enter to win Triton Cash, or even free housing! Here's how the Lucky Triton Lotto works:

- First, you pick five **different** numbers, one at a time, from 1 to 29, representing that according to [USNews](https://www.usnews.com/best-colleges/university-of-california-san-diego-1317), UCSD is ranked 29th in the nation for best universities to attend for 2024-2025.
- Then, you separately pick a number from 1 to 12. This is because UCSD's Data Science program is ranked 12th in [USNews's](https://www.usnews.com/best-colleges/rankings/computer-science/data-analytics-science) best undergraduate Data Science programs list (though we think it's number one). Let's say you select 3.
- The six numbers you have selected, or  **your numbers**, can be represented all together as (7, 12, 24, 15, 13, 3). This is a _sequence_ of six numbers ‚Äì **order matters**!

The **winning numbers** are chosen by King Triton drawing five balls, one at a time, **without replacement**, from a pot of white balls numbered 1 to 29. Then, he draws a gold ball, the Tritonball, from a pot of gold balls numbered 1 to 12. Both pots are completely separate, hence the different ball colors. For example, maybe the winning numbers are (15, 9, 24, 23, 1, 3).

We‚Äôll assume for this problem that in order to win the grand prize (free housing), all six of your numbers need to match the winning numbers and be in the **exact same order**. In other words, your entire sequence of numbers must be exactly the same as the sequence of winning numbers. However, if some numbers in your sequence match up with the corresponding number in the winning sequence, you will still win some Triton Cash. 

Suppose again that you select (7, 12, 24, 15, 13, 3) and the winning numbers are (15, 9, 24, 23, 1, 3). In this case, two of your numbers are considered to match two of the winning numbers. 
- Your numbers: (7, 12, **24**, 15, 13, **3**)
- Winning numbers: (15, 9, **24**, 23, 1, **3**)

You won't win free housing, but you will win some Triton Cash. Note that although both sequences include the number 15 within the first five numbers (representing a white ball), since they are in different positions, that's not considered a match.

**Question 5.1.** What is the probability that your Tritonball number (the last number in your sequence) matches the winning Tritonball number? Calculate your answer and assign it to `tritonball_chance`. If you need to do any calculations (e.g. multiplication or division), make Python do it; don't use a separate calculator. Your result should be a decimal number between 0 and 1.

In [ ]:
tritonball_chance = ...
tritonball_chance

In [ ]:
grader.check("q5_1")

**Question 5.2.** What is the probability that your first three numbers match the first three winning numbers? Calculate your answer and assign it to `first_three_chance`. If you need to do any calculations (e.g. multiplication or division), make Python do it; don't use a separate calculator. Your result should be a decimal number between 0 and 1.

***Hint:*** You need **all three** of the first three numbers to match. What probability rule should you use?

In [ ]:
first_three_chance = ...
first_three_chance

In [ ]:
grader.check("q5_2")

**Question 5.3.** What is the probability that you win the grand prize, free housing? Calculate your answer and assign it to `free_housing_chance`. If you need to do any calculations (e.g. multiplication or division), make Python do it; don't use a separate calculator. Your result should be a decimal number between 0 and 1.

***Hint:*** When you select a ball without replacement, what happens to the total number of balls you can select next time?

In [ ]:
free_housing_chance = ...
free_housing_chance

In [ ]:
grader.check("q5_3")

**Question 5.4.** What is the probability that you do **not** win free housing? Calculate your answer and assign it to `no_free_housing_chance`. If you need to do any calculations (e.g. multiplication or division), make Python do it; don't use a separate calculator. Your result should be a decimal number between 0 and 1.

In [ ]:
no_free_housing_chance = ...
no_free_housing_chance

In [ ]:
grader.check("q5_4")

## Finish Line: Almost there, but make sure to follow the steps below to submit! üèÅ

**_Citations:_** Did you use any generative artificial intelligence tools to assist you on this assignment? If so, please state, for each tool you used, the name of the tool (ex. ChatGPT) and the problem(s) in this assignment where you used the tool for help.

<hr style="color:Maroon;background-color:Maroon;border:0 none; height: 3px;">

Please cite tools here.

<hr style="color:Maroon;background-color:Maroon;border:0 none; height: 3px;">

To submit your assignment:

1. Select `Kernel -> Restart & Run All` to ensure that you have executed all cells, including the test cells.
1. Read through the notebook to make sure everything is fine and all tests passed.
1. Run the cell below to run all tests, and make sure that they all pass.
1. Download your notebook using `File -> Download as -> Notebook (.ipynb)`, then upload your notebook to Gradescope.
1. Stick around while the Gradescope autograder grades your work. Make sure you see that all tests have passed on Gradescope.
1. Check that you have a confirmation email from Gradescope and save it as proof of your submission.

In [ ]:
grader.check_all()